@import url(./colors.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none;
    color: inherit;
}

section{
    margin-top: 8px;
}

body {
    font-size: 14px;
    background-color: #f1f3f6;
    color: #212121;
    line-height: 1.4;
}


header{
    width: 100%;
    background-color: var(--theme-text);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0px auto;
    padding: 10px;
}
.brand-name{
    display: flex;
    flex-direction: column;
    
}
.explore-plus{
    display: flex;
    font-style: italic;
    color: white;
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    margin-top: -4px;
    text-decoration: none;
    
}
.explore-plus span{
    color: #ffe500;
}
.explore-plus img{
    width: 10px;
    height: 10px;
}

/* brand information completed */

/* search bar starts here */

.search-bar{
    width: 500px;
    display: flex;
}
#search-bar{
    height: 36px;
    border: none;
    outline: none;
    padding: 0px 16px;
    width: 85.4%;
}
.search-bar button{
    height: 36px;
    width: 42.22px;
    background-color: white;
    margin-left: -4px;
    border: none;
    color: var(--theme-text);
    outline: none;
}

/* search bar ends here */

.usraccount .login-btn{

    height: 31px;
    color: var(--theme-text);
    background-color: white;
    font-size: 16px;
    
    padding: 5px 40px;
    text-decoration: none;
    font-weight: 600;
}
.usraccount{
    /* filter: drop-shadow(5px 6px 6px silver); */
    z-index: 1000;
    position: relative;
    padding: 10px 0px;
}
.usraccount:hover .usracount-content{
    display: block;
}
.usracount-content{
    display: none;
    width: 240px;
    position: absolute;
    background-color: white;
    z-index: 999;
    box-shadow: -2px 5px 10px var(--box-shadow);
    /* margin-left: -4%; */
    margin-top: 10px;
    left: -50%;
    
    /* clip-path: polygon(50% 0%, 43% 5%, 0% 5%, 0% 100%, 100% 100%, 100% 5%, 57% 5%); */
}


/* put this class in a div element to make that a tiny triangle */
.triangle{  
    width: 40px;
height: 20px;
background-color: rgb(255, 255, 255);
position: absolute;
top: -16px;
left: 50%;
margin-left: -20px;
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.triangle-con{
    background-color: pink;
}
.usracount-content .header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.usracount-content .header a{
    color: var(--theme-text);
}
.usracount-content .header a:hover{
    text-decoration: underline;
}
.usracount-content ul li{
    padding: 15px 20px;
    list-style-type: none;
    border-top: 1px solid rgb(237, 237, 237);
}
.usracount-content ul li:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}
/* more stuff are styled here */
.more-stuffs{
    
    color: white;
    background-color: var(--theme-text);
    font-size: 16px;
    
    /* padding: 5px 40px; */
    text-decoration: none;
    font-weight: 500;
}
.more-stuffs a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    
}


/* cart is styled here */
.cart-container{
    
    color: white;
    background-color: #2874f0;
    font-size: 16px;
    
    /* padding: 5px 40px; */
    text-decoration: none;
    font-weight: 500;
}

/* login box's styles */
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(98, 98, 98); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.684); /* Black w/ opacity */
}
.modal-content{
    margin: auto;
    display: flex;
    width: 675px;
    max-width: 700px;
    height: 528px;
    box-sizing: border-box;
}
.modal-content .desc-panel{
    background-color: var(--theme-text);
    width: 270px;
    height: 528px;
    background-image: url(../images/login_img.png);
    background-repeat: no-repeat;
    background-position: center 330px;
}
.content-login{
    margin: 50px auto;
    width: 200px;
    font-size: 20px;
    color: white;
}
.content-login p{
    font-weight: 500;
    font-size: 18px;
    color: rgb(227, 227, 227);
    margin-top: 15px;
}
.modal-content .form-panel{
    background-color: rgb(255, 255, 255);
    width: 405px;
    height: 528px
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}
/* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 150px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
/* end of login box's styles */



/* categories navigation  */

.categories{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 4px #d1cfcf;
    background-color: white;
}
.card{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 12px 8px;
    font-size: 14px;
}
.card img{
    margin: 0px auto;
}
.card a{
    color: black;
    text-decoration: none;
}

 
/* carousel section is styled here */



.carousel { overflow: hidden; width: 100%; height: 280px; transform-style: preserve-3d;}
.carousel-item img {
    width: 100%;
    height: 280px;
}
.carousel * {
    box-sizing: border-box;
  }
.carousel-item {
    opacity: 0;
    position: absolute;
    top:0;
    width: 99%;
    margin: 10px auto;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel-item.initial, .carousel-item.active{
    opacity: 1;
    position: relative;
    z-index: 900;
}

.carousel-item.prev, .carousel-item.next{
    z-index: 800;
}

.carousel-item.prev{
    transform: translateX(-100%); /* Move 'prev' item to the left */
}

.carousel-item.next{
    transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 47px;
  height: 104px;
  background-color: #FFF;
  transform: translateY(-50%);
  cursor: pointer; 
  z-index: 423; /* Sit on top of everything */
  border: none;
}


.carousel__button--prev {
    left: 7px;;
}
  .carousel__button--next {
    right:7px;
  }


  .carousel__button--prev::after,
  .carousel__button--next::after {
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 54%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(-50%, -50%) rotate(135deg);
  }

.carousel__button--next::after {
left: 47%;
transform: translate(-50%, -50%) rotate(-45deg);
}



/* deals of the day section is styled here
    added on 29/03/2022 @abhishek
*/

.deals-of-day{
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 362px;
}

.outerbox{
    width: 80%;
    background-color: white;
    height: inherit;
    padding: 4px 0px;
    
}
.flpkart-offers{
    background-color: white;
    padding: 4px;
    height: inherit;
}
.flpkart-offers img{
    background-color: white;
    /* padding: 4px; */
    height: 100%;
}

.header-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    padding: 15px 20px;
    box-shadow: 1px 1px 4px #d1cfcf;
}
.timer-head{
    display: flex;
    align-items: center;
}
.timer-head img{
    margin-left: 20px;
    width: 24px;
    height: 24px;
}
.header-part a{
    background: #2874f0;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    transition: box-shadow .2s ease;
    vertical-align: super;
    cursor: pointer;
    outline: none;
}


.carousel-container{
    position: relative;
}

.product-carousel{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.prod-c-item{
    box-sizing: border-box;
    padding: 25px 15px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    width: 195px;
    max-height: 366px;
    text-align: center;
}
.prod-c-item img{
    max-width: 100%;
    height: auto;
}
.prod-c-item div.prod-disc{
    margin-top: 15px;
}
.prod-c-item .prod-title{
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prod-c-item div.prod-disc p{
    margin-top: 10px;
}
.prod_prev{
    left: 0px;
    visibility: hidden;

}
.prod_next{
    right: 0px;

}

.art{
    background-color: pink;
    width: 200px;
    height: 300px;
    clip-path: polygon(50% 0%, 43% 5%, 0% 5%, 0% 100%, 100% 100%, 100% 5%, 57% 5%);
    margin: 20px auto;
}